# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json



# Cython
*.pyc
*.pyo
__pycache__
*.so
*.o
src/visualization/event/*.html
src/visualization/event/*.c



#Misc
.vscode/
.idea/
logs/
res/
out/
