# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
*.whl


# Cython
*.pyc
*.pyo
__pycache__
*.so
*.o
src/libs/event_viz/*.html
src/libs/event_viz/*.c



#Misc
.vscode/
.idea/
logs/
res/
out/
